
.home {
  .hoverElement {
    cursor: pointer;
    position: relative;

    .element {
      &.hover {
        opacity: 1;
        transition: opacity .5s;
      }

      &.hidden {
        opacity: 0;
        transition: opacity .5s;
      }

      &.default {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .tooltip {
      position: absolute;
      z-index: 100;
    }

  }
}